.Home {
    display: flex;
    justify-content: center;
    padding: 100px 16px 100px 16px;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, #fd8355 0%, #f0576c 36%, #f79cbd 100%);
}

.Home h1, h2 {
    text-align: center;
}

.CreateButton {
    min-width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.Sorting {
    margin-bottom: 10px;
    padding: 5px 7px 5px 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Sorting button {
    width: 27px;
    height: 27px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sorting i {
    color: #ffffff;
    font-size: 12px;
}

.Sorting button[aria-pressed="true"] i:first-of-type {
    transform: none;
}

.Sorting span {
    margin-right: 0.8em;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s;
}

.Sorting button:hover + span {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .Home {
        padding-top: 50px;
    }

    .Sorting span {
        visibility: hidden;
    }

    .CreateButton {
        min-width: 0;
        transform: none;
        margin-left: 0;
    }

}
