.ActiveQuiz {
    padding: 20px 16px 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.Question {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

small {
    margin-left: 10px;
    white-space: nowrap;
}
