.QuizListItem {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    transition: background-color 0.3s, opacity 0.3s, height 0.3s;
    border-radius: 5px;
}

@media (hover), screen and (min-width:0\0), (min--moz-device-pixel-ratio:0) {
    .QuizListItem:hover {
        background-color: rgba(90, 90, 90, 0.1);
    }
}

.removed a,
.removed div span {
    cursor: auto;
    opacity: 0.5;
}

.QuizListItem a {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
    min-width: 0;
    min-height: 36px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, opacity 0.3s;
}

.Title {
    display: inline-block;
}

.QuizListItem a:not(:only-child) .Title {
    max-width: 215px;
}

.QuizListItem div {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: opacity 0.3s;
}

.QuizListItem div span {
    margin-right: 0.5em;
}

.Icon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.Icon + .Icon {
    margin-left: 7px;
}

.QuizListItem:hover .Icon,
.Icon[aria-pressed="true"]{
    opacity: 1;
}

@media (max-width: 768px) {
    .Icon {
        opacity: 1;
    }

    .QuizListItem div span {
        display: none;
    }
}
