.QuizCreator {
    display: flex;
    justify-content: center;
    padding: 100px 16px 16px;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}

.QuizCreator > div {
    width: 100%;
    max-width: 600px;
}

.QuizCreator h1 {
    text-align: center;
}

@media (max-width: 720px) {
    .QuizCreator {
        padding-top: 50px;
    }
}
